/* --------------------------------

Generated using nucleoapp.com

-------------------------------- */
.icon {
    display: inline-block;
    background-image: url(../icons.svg);
    background-repeat: no-repeat;
}

.icon.icon-bell-back {
    background-position: -0px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-bell-check {
    background-position: -24px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-calendar {
    background-position: -48px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-check-double {
    background-position: -72px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-dot {
    background-position: -96px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-eye {
    background-position: -120px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-hamburger {
    background-position: -144px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-heartbeat {
    background-position: -168px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-link {
    background-position: -192px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-logo-sm {
    background-position: -216px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-message-add {
    background-position: -240px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-message {
    background-position: -264px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-search {
    background-position: -288px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-text {
    background-position: -312px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-time {
    background-position: -336px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-external-link {
    background-position: -360px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-delete {
    background-position: -384px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-message-new {
    background-position: -408px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-arrow-left {
    background-position: -432px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-alert {
    background-position: -456px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-fire {
    background-position: -480px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-heartbeat-fail {
    background-position: -504px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-message-add-3 {
    background-position: -528px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-more {
    background-position: -552px 0px;
    height: 24px;
    width: 24px;
}

.icon.icon-bell-off {
    background-position: -576px 0px;
    height: 24px;
    width: 36px;
}

.icon.icon-bell-on {
    background-position: -612px 0px;
    height: 24px;
    width: 36px;
}

.icon.icon-next {
    background-position: -648px 0px;
    height: 24px;
    width: 24px;
} 
