{% include "header.html" %}
{% include "menu.html" %}
{% from "security/macros.html" import render_input_with_errors %}
<link href="{{ url_for('static', filename='css/custom/change_password.css') }}" rel="stylesheet">

{% block body %}

{% include "messages.html" %}

<div class="container">
  <form class="form-signin" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
    <h2 class="form-signin-heading text-center">Change Password</h2>
    {{ change_password_form.hidden_tag() }}
    {{ render_input_with_errors(change_password_form.password, "password", "Current Password", "required") }}
    {{ render_input_with_errors(change_password_form.new_password, "password", "New Password", "required") }}
    {{ render_input_with_errors(change_password_form.new_password_confirm, "password", "Confirm Password", "required") }}
    <button class="btn btn-lg btn-primary btn-block" id="c" type="submit" value="Change Password">Change Password</button>
  </form>
</div>

{% endblock %}
{% include "footer.html" %}
