
// Actions (in header)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// Servers actions

#server-actions {
  .btn {
    margin: .6875rem .6875rem 0 0;
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

// Notifications actions

#notif-actions  {
  display: flex;
  align-items: start;
  padding: .75rem 0 0 0;
  border-top: 1px $border-color solid;
  position: relative;
  font-size: $font-size-sm;

  @include media-breakpoint-up(md) {
    min-width: 22rem;
    padding: .5rem .5rem .5rem 1rem;
    border: 1px rgba(0,0,0,0.05) solid;
    border-radius: $border-radius-lg;
  }
  .btn {
    margin-left: .5rem;
  }
  .assigned {
    margin-top: .25rem;
    color: $gray-700;

    .assignee {
      font-weight: 800;
      color: $gray-900;
    }
  }
}

// Styling for the animated svg 'tater' button - bulk of heavy lifting down via the awesome anime.js

#notif-actions
  .btn-primary { // button
    background: transparent;
    fill: $primary;
    &:hover svg {
      filter: drop-shadow(0 .5rem .5rem rgba(0,0,0,0.3)) !important;
    }

  svg { // Animtated svg positioning
    height: 68px;
    width: 133px;
    position: absolute;
    top: .25rem;
    right: -.5rem;
    z-index: -1;
    fill: $primary;
    outline: 0px solid #ffffff; // Random fix for sub pixel rendering on Retina....
    @include media-breakpoint-up(md) {
      right: 0;
      top: 0;
    }
    &:hover {
      fill: #934C61;
      background-image: url('https://imgur.com/a/sVAjyrt');
      background-size: cover;

    }
  }
}
