
// Filters (.filters)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.filter-toggle {  //mobile filter accordion toggler (hidden on desktop)
  display: flex;
  padding: 1.5rem 1rem 0rem 1rem;
  @include media-breakpoint-up(md) {
    display: none !important;
  }
  .btn {
    margin-left: auto;
  }
}
.filters {
  border-bottom: $border-width $border-color solid;
  @include media-breakpoint-up(md) {
    display: block !important;
    border-bottom-width: 0;
  }
  .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem ;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      padding-top: 2.5rem;
      padding-bottom: 1.5rem ;
      flex-direction: row;
    }
  }
  select, .input-group {
    margin: 0 0 .5rem 0;
    width: auto;
    @include media-breakpoint-up(md) {
      max-width: 25%;
      margin: 0 1rem 0 0;
      flex-grow: 1;
    }
    @include media-breakpoint-up(lg) {
      max-width: 20%;
    }
  }
}
