
// Login component
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.logo-lg {
  width: 160px;
  height: auto;
  margin: 2rem auto 2rem auto;
  display: block;
  @include media-breakpoint-up(sm) {
    width: 200px;
    height: auto;
  }
}

#login {
  background-color: $white;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;

  .text {
    margin: 0 1.5rem 0 1.5rem;
    align-self: center;
    min-width: 16rem;
    max-width: 40rem;
    @include media-breakpoint-up(sm) {
      min-width: 20rem;
    }
    .password-link {
      font-size: $font-size-sm;
      color: $primary;
      text-align: center;
      margin: 1rem 0 2rem 0;
    }
  }
  .image {
    background-color: $gray-100;
    display: none;
    height: 100%;
    justify-content: center;
    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }
  .image {
    img {
      width: 100%;
      max-width: 60rem;
      object-fit: cover;
    }
    &::after {
      display: block;
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(253, 248, 246, 1) 0, rgba(253, 248, 246, 0) 100%);
      height: 200px;
      width: 100%;
      content: '';
    }
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @include media-breakpoint-up(sm) {
      margin-bottom: 3rem;
    }
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      a {
        margin: 0 .5rem .5rem .5rem;
      }
    }
  }
}
