
// Modals
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.modal-header {
  padding: 1rem 1rem .5rem 1rem;
  @include media-breakpoint-up(md) {
    padding:1.5rem 2rem 0 2rem;
  }
}
.modal-body {
  padding: 0 1rem 0 1rem;
  @include media-breakpoint-up(md) {
    padding:1rem 2rem 1rem 2rem;
  }
}
.modal-footer{
  padding: 0 1rem 1rem 1rem;
  @include media-breakpoint-up(md) {
    padding:0rem 2rem 2rem 2rem;
  }
}
#message-text {
  min-height: 5rem;
}

// Close button Styling

.modal-header .close {
  font-weight: $headings-font-weight;
  color: $headings-color;
  opacity: .2;
  margin-top: -.5rem;
  transition: $transition-base;
}
