
// Navigation bar (.navbar)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.navbar-custom {  // custom BS navbar class to navbar brand to be positioned outside of navbar nav
  min-height: 3rem;
  background-color: $white;
  font-weight: $font-weight-bold;
  @include media-breakpoint-down(xs) {
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-wrap: wrap;
  }
  .navbar-toggler{
    margin-left: auto;
    height: 3rem;
    border: 0;
  }
  .navbar-nav {
    width: 100%;
    @include media-breakpoint-down(xs) {
      padding: 1.5rem 0 1.5rem 1rem;
      border-bottom: $border-width $border-color solid;
    }
    .nav-link {
      display: block;
      padding: .5rem 0 .5rem 0;
      @include media-breakpoint-up(sm) {
      padding: 1rem 1.5rem 1rem 0;
      }
    }
  }
}
.nav-item.account {
  @include media-breakpoint-up(sm) {
    margin-left: auto;
  }
}
.nav-item.account .nav-link {
  color: $gray-900;
}
.nav-item.account .icon {
  margin: -.1875rem 0 0 .25rem;
}

// Logo positioning

.navbar-brand {
  float: left;
  margin-right: 1.5rem;
  width: 3rem;
  height: 3rem;
  padding: 0;
  @include media-breakpoint-down(xs) {
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
  }
}
