
// Notification group
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.notif-group {
  margin-bottom: 1rem;

  .date {
    font-size: $font-size-xs;
    color: $gray-900;
    font-weight: $font-weight-bold;
    letter-spacing: 0.25px;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem
    }
    &:before {
      content: "";
      display: inline-block;
      width: 3.5rem;
      margin:  0 0.75rem 0.1875rem 0;
      border-bottom: 2px $border-color solid;
      @include media-breakpoint-up(md) {
        width: 4.5rem;
      }
    }
  }
}

// Notification card
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#notifications {
  padding: 1.5rem 0 5rem 0;

  .notif-group {
    margin-bottom: 1rem;
  }
  .card-wrapper {
    position: relative;
    .dropdown-toggle {
      position: absolute;
      right: 1rem;
      top: .75rem;
      z-index: 1 ;
      @include media-breakpoint-down(sm) {
        right: .5rem;
        top: 0rem;
      }
    }
  }
  .card {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 0;
    transition: $transition-base;
    box-shadow: 0px 1px .5rem 0px rgba(0,0,0,0.05);
    &:hover {
      box-shadow: 0px .25rem 1rem 0px rgba(80,9,38,0.1);
      transition: $transition-fade;
    }
    &.fire {
      border-left: 3px solid $primary;
    }
  }
  .card-icon {
    padding: 1rem 0 0 .5rem;
    @include media-breakpoint-up(md) {
      padding: 1.5rem 1rem 0 1rem;
      border-right: 1px $border-color solid;
    }
  }
  .card-title {
    margin: 0;
    display: flex;
    justify-content: space-between;

    .h6 {
      @include media-breakpoint-up(md) {
        margin: 0 0 .25rem 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
  }
  .card-body {
    @include media-breakpoint-down(sm) {
      padding: 1.25rem 1.25rem 1.25rem .75rem;
    }
  }
  .card-text {
    margin: 0;
    max-width: 48rem;
    color: $text-muted;
    font-size: $font-size-sm;
    .time {
      font-weight: $font-weight-bold;
      padding-right: .25rem;
      color: $headings-color;
    }
    .message {
      padding-right: .5rem;
    }
    .delivery {
      display: inline-block;
      color: $gray-600;
      font-size: .8125rem;
      &.fire {
        color: $primary;
      }
    }
  }
}

// 'Copied to clipboard' confirmation message

#notifications .card::after {
  content:'Copied to clipboard';
  transition: all .2s linear;
  background:transparent;
  color: transparent;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  padding: .125rem .5rem .125rem .5rem;
  position: absolute;
  border-radius: $border-radius-sm;
  opacity: 1;
  right:.5rem;
  bottom: .5rem;
}
#notifications .card.copy-confirm::after { // Transitioned attributes
  background:$info;
  color: $white;
}
