
// Notifications details card
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#notif-details {
  padding-top: 1rem;
  margin-bottom:  1rem;

  .card {
    padding: 1.5rem;
    margin-top: 1.5rem;
    border-radius: $border-radius-lg;
    @include media-breakpoint-up(md) {
      padding: 2rem;
    }
    @include media-breakpoint-up(lg) {
      padding: 3rem;
    }
    .notif-message {
      color: $gray-800;
      padding: .75rem 1rem;
    }
  }
  .card-footer {
    border-top-width: 1px;
    font-size: $font-size-xs;
    margin-top: 1.5rem;
    background-color: $white;
    color: $text-muted;
    padding-left: 0;
    padding-right: 0;
    span {
      display: inline-block;
      padding-right: 1rem;
    }
    @include media-breakpoint-up(md) {
      margin-top: 3rem;
    }
  }
}

// Card table

#notif-details {
  .table {
    font-size: $font-size-sm;
    border-collapse: separate;
    @include media-breakpoint-up(md) {
      padding: 0 2rem 0 0;
      border-bottom: 0;
    }
  }
  .table td, .table th {
    vertical-align: baseline;
    border-top: 0;
    padding: .5rem 0;
  }
  .table td {
    color: $gray-900;
      @include media-breakpoint-up(md) {
      font-size: $font-size-base;
    }
  }
  .table th {
    font-weight: $font-weight-base;
    color: $text-muted;
    width: 5rem;
    @include media-breakpoint-up(md) {
      width: 6rem;
    }
  }
  .table .form-control {
    max-width: 25rem;
    background-color: $gray-100;
  }
}


// Table word break styling (for long word, URLs etc)
.table td, .table th {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
