
// Colours

$primary:                     #F5512A; //F93C28
$secondary:                   #ededed;
$info:                        #12A1E0;
$fire:                         #F5512A;
$success:                     #6DD16D;

$white:                       #ffffff;
$gray-100:                    #FDF8F6;
$gray-200:                    #F4ECEA;
$gray-300:                    #EFE1DF;
$gray-400:                    #EDCDCC;
$gray-500:                    #DDBCBA;
$gray-600:                    #B79F9F;
$gray-700:                    #998282;
$gray-800:                    #934C61;
$gray-900:                    #602646;
$black:                       #000000;

// Body

$body-bg:                     $gray-100;
$body-color:                  $gray-800;

// Fonts

$font-family-sans-serif:      Nunito, Lato, sans-serif;
$headings-font-family:        $font-family-sans-serif;
$headings-font-weight:        900;
$headings-color:              $gray-900;
$font-size-xs:                .75rem;
$text-muted:                  $gray-700;
$font-weight-bold:            700;

//Links
$link-color:                  $gray-900;
$link-decoration:             none !default;
$link-hover-color:            lighten($link-color, 15%) !default;
$link-hover-decoration:       none;

// Components
$border-width:                1px;
$border-color:                $gray-200;

$border-radius-sm:            .25rem;
$border-radius:               .5rem;
$border-radius-lg:            .75rem;
$border-radius-xl:            1.25rem;
$border-radius-round:         50%;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow:                  0 .25rem 1rem rgba($black, .15);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);

$transition-fade:             all .2s linear;
$transition-base:             all .1s ease-in-out;
$transition-collapse:         height .35s ease !default;

// Tooltips
$tooltip-bg:                  $gray-900;
$tooltip-border-radius:       $border-radius-lg;
$tooltip-opacity:             1;
$tooltip-padding-y:           .5rem;
$tooltip-padding-x:           1rem;
$tooltip-font-size:           .8125rem;
$tooltip-margin:              .25rem;

//Buttons / Input
$input-btn-padding-y:         .4rem;
$input-btn-padding-x:         .75rem;

$input-btn-focus-width:       0px;
$input-btn-focus-color:       $primary;

$input-btn-padding-y-sm:      .25rem;
$input-btn-padding-x-sm:      .5rem;

$input-btn-padding-y-lg:      .6875rem;
$input-btn-padding-x-lg:      1.5rem;

//Buttons specific

$btn-border-radius:                 $border-radius;
$btn-border-radius-lg:              $border-radius;
$btn-border-radius-sm:              $border-radius-sm;
$btn-font-weight:                   $font-weight-bold;
$btn-border-width:                  0;

//Input specific

$input-transition:                  border-color .2s ease-in-out, box-shadow .15s ease-in-out;

$input-padding-y:                   $input-btn-padding-y !default;
$input-padding-x:                   $input-btn-padding-x !default;

$input-border-radius:               $border-radius;
$input-border-radius-lg:            $border-radius;
$input-border-radius-sm:            $border-radius-sm !default;
$input-color:                       $gray-900;
$input-border-color:                $gray-200;
$input-border-width:                2px;
$input-focus-color:                 $input-color !default;
$input-focus-border-color:          $gray-400;


$input-group-addon-bg:              #ffffff;
$input-group-addon-border-color:    $input-border-color;
$input-disabled-bg:                 $gray-200 !default;

$custom-checkbox-indicator-border-radius:       $border-radius-sm;
$custom-control-indicator-active-bg:            $success;

// Navbar

$nav-link-padding-y:                1rem;
$nav-link-padding-x:                1.5rem;

$navbar-light-color:                $gray-700;
$navbar-light-hover-color:          $gray-800;
$navbar-light-active-color:         $gray-900;
$navbar-light-disabled-color:       $gray-600;

// Breadcrumbs

$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           .5rem !default;

$breadcrumb-margin-bottom:          0;

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-600 !default;
$breadcrumb-divider:                quote("/") !default;

$breadcrumb-border-radius:          $border-radius !default;

// List group
$list-group-border-color:           $gray-200;
$list-group-border-width:           2px;
$list-group-border-radius:          $border-radius !default;
$list-group-item-padding-y:         .75rem;
$list-group-item-padding-x:         1rem;

//Card

$card-spacer-y:                     1rem;
$card-spacer-x:                     1.75rem;
$card-border-width:                 2px;
$card-border-radius:                $border-radius !default;
$card-border-color:                 $gray-200;


// Dropdown - Full variables

$dropdown-padding-y:                0;
$dropdown-spacer:                   .125rem !default;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             $gray-200;
$dropdown-border-radius:            $border-radius;
$dropdown-border-width:             1px;
$dropdown-divider-bg:               $gray-200 !default;
$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         $gray-900;
$dropdown-link-hover-bg:            $gray-100;
$dropdown-link-active-bg:           $gray-100;

$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y:           .75rem !default;
$dropdown-item-padding-x:           1.25rem !default;

$dropdown-header-color:             $gray-600 !default;

// Modals

$modal-inner-padding:               1rem;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-content-bg:                  $white !default;
$modal-content-border-color:        $white;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

$modal-backdrop-bg:                 $gray-200;
$modal-backdrop-opacity:            .9;
$modal-header-border-color:         $gray-200 !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         0;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding:              1rem;

$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;
