{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}

{% block body %}

<h2>Add a server</h2>
<form action="{{ url_for('add_server') }}" method="post">
	<div class="row">
		<label>
			Hostname
			<input name="hostname" type="text" placeholder="dev.example.com" required>
		</label>
	</div>
	<div class="row">
		<label>
			Enable heartbeat
			<input name="enable_heartbeat" type="checkbox" value="true">
		</label>
	</div>
	<div class="row">
		<label>
			Disable missed heartbeat notification
			<input name="disable_missed_heartbeat_notif" value="true" type="checkbox">
		</label>
	</div>
	<div class="row">
		<label>
			Missed heartbeat limit
			<input name="missed_heartbeat_limit" type="number" value="5" required>
		</label>
	</div>
	<div class="row">
		<label>
			Timezone
			<select name="timezone" required>
				{% for timezone in timezones %}
				<option {% if current_user.timezone == timezone %}selected{% endif %}>{{timezone}}</option>
				{% endfor %}
			</select>
		</label>
	</div>
	<div class="row">
		<label>
			Link
			<input name="link" type="text" required>
		</label>
	</div>
	<div class="row">
		<button type="submit">Add</button>
	</div>
</form>
{% endblock %}
{% include "footer.html" %}
