{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}

{% block body %}

<h2>Handover</h2>
<p><b>{{ pagerperson.name }}</b> is currently on pager.</p>
<p>Use this page to send a pager message saying you have your pager turned on.</p>


{% if pager_taken -%}
  <h3>Pager taken!</h3>
  <p>You should make sure the handover message comes through, though.</p>
  {% if message -%}
    <p>Pager Message: {{ message }}</p>
  {%- endif %}
{%- else -%}
  {% if pagerperson != current_user -%}
    <form action="{{ url_for('do_handover') }}" method="post">
        <label>
            Custom message:
            <input type="text" name="message"></input>
        </label>
        <button class="btn btn-lg btn-danger btn-block" type="submit">Take Pager</button>
    </form>
  {%- else -%}
    <p><b>You can't take the pager from yourself!</b></p>
  {%- endif %}
{%- endif %}

{% endblock %}
{% include "footer.html" %}
