{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "missed_hbeats.html" %}

{% block body %}

<p><a href="/servers/add">Add a server</a></p>

<table class="table table-responsive table-hover" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Timezone</th>
            <th>Last Heartbeat</th>
            <th>Alert on Heartbeat</th>
            <th>Downtime Heartbeat Alert</th>
        </tr>
    </thead>
    <tbody>
        {%- for serv in servs %}
          {%- set hostname = serv[0] -%}
          {%- set timezone = serv[1] -%}
          {%- set enable_heartbeat = serv[2] -%}
          {%- set disable_missed_heartbeat_notif = serv[3] -%}
          {%- set last_hbeat = serv[4] -%}
          {%- set id = serv[5] -%}
          {%- set link = serv[6] -%}

          {% if not last_hbeat -%}
            <tr class="bg-danger">
          {%- elif (now - last_hbeat).seconds <= 60 -%}
            <tr>
          {%- elif (now - last_hbeat).seconds >= 60 and (now - last_hbeat).seconds <= 300 -%}
            <tr class="bg-warning">
          {%- else -%}
            <tr class="bg-danger">
          {%- endif %}

                <td>
                    <a href="{{ link }}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
                    {{ hostname }}
                </td>
                <td>{{ timezone }}</td>

          {% if last_hbeat -%}
                <td>{{ now - last_hbeat }} ago ({{ to_local_time(last_hbeat, tz=current_user.timezone) }})</td>
          {%- else -%}
                <td>Never</td>
          {%- endif %}
               
                <td><center>
                    <form action="/servers/toggle-heartbeat/{{id}}" method="POST">
                        <button type="submit">
                            {% if enable_heartbeat %}
                            ✔ True
                            {% else %}
                            ✘ False
                            {% endif %}
                        </button>
                    </form>
                </center></td>

                <td><center>
                    <form
                      action="/servers/toggle-missed-heartbeat-notif/{{id}}"
                      method="POST"
                    >
                        <button type="submit">
                            {% if disable_missed_heartbeat_notif %}
                            ✔ True
                            {% else %}
                            ✘ False
                            {% endif %}
                        </button>
                    </form>
                </center></td>

            </tr>
        {%- endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}
{% include "footer.html" %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/v/dt/dt-1.10.15/fh-3.1.2/datatables.min.js"></script>
<script>
$(document).ready( function () {
    $('.data-me-up').DataTable( {
        "order": [[ 3, 'desc' ]],
        "paging": false,
        "searching": false,
        "fixedHeader": true,
        "columnDefs": [
            { "orderable": false, "targets": 0 }
        ],
    } );
} );
</script>

