{% include "header.html" %}
{% include "menu.html" %}
{% include "messages.html" %}
{% include "failed_alerts.html" %}

{% block body %}
<!-- 
<div id="notif-details-header" class="header">
  <div class="container">
    <div class="page-title">
      <h1 class="h5">Production Task queue length<span class="text-subtle"> on </span>wdclxcmgt01</h1>
      <div class="page-title-meta">
        <img class="icon icon-sm" src="dist/img/icons/icon-fire.svg" alt="">
        <p>4:34:37 am, Saturday 02/12/2018</p>
      </div>
    </div>
  </div>
</div>


<div id="notif-details" class="container">
  <div class="card">
      <div class="row">
        <div class="col-md-7">
          <h2 class="h6">Notification details</h6>
          <hr/>
          <table class="table">
            <tbody>
              <tr><th>Status</th><td>Critical</td></tr>
              <tr><th>Type</th><td>Problem</td></tr>
              <tr><th>Service</th><td>Disk:/var/opt/gitlab/backups</td>
              <tr><th>Host</th><td>cat-wlgwil-prod-gitlab1</td></tr>
              <tr><th>Source</th><td>cat-prod-monitor-2</td></tr>
              <tr><th>Output</th>
                <td>
                  <fieldset disabled>
                    <div class="form-group">
                      <textarea class="form-control notif-message" rows="4">wdclxweb01 - nzpost-queue-cron CRITICAL - POST0024 Queue canary task didnt execute within 16s</textarea>
                    </div>
                  </fieldset>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
          <h2 class="h6">Delivery details</h6>
          <hr/>
          <table class="table">
            <tbody>
              <tr><th>Service</th><td>Modica</td></tr>
              <tr><th>Status</th><td>Sent</td></tr>
              <tr><th>Sent to</th><td>Danny B</td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <span>Modica ID: 561515312</span><span>Hot Potato ID: 65854512561515312</span>
      </div>
  </div>
</div> -->

<div class="panel panel-info">

  <table>
    <tbody>

      <tr>
        <td><p>Notification ID</p></td>
        <td><p>{{ notif.id }}</p></td>
      </tr>

      <tr>
        <td><p>Tenant ID</p></td>
        <td><p>{{ notif.tenant_id }}</p></td>
      </tr>

      <tr>
        <td><p>User ID</p></td>
        <td><p>{{ notif.user_id }}</p></td>
      </tr>

      <tr>
        <td><p>Notification Type</p></td>
        <td><p>{{ notif.notif_type }}</p></td>
      </tr>

      <!-- Some kind of break here? To separate database and JSON data -->

      <tr>
        <td><p>JSON Version</p></td>
        <td><p>{{ notif.json["version"] }}</p></td>
      </tr>

{% if notif.json["event_id"] -%}
      <tr>
        <td><p>Event ID</p></td>
        <td><p>{{ notif.json["event_id"] }}</p></td>
      </tr>
{%- endif %}

{% if notif.json["ticket_id"] -%}
      <tr>
        <td><p>Ticket ID</p></td>
        <td><p>{{ notif.json["ticket_id"] }}</p></td>
      </tr>
{%- endif %}

      <tr>
        <td><p>Status</p></td>
        <td><p>{{ notif.json["status"] }}</p></td>
      </tr>

      <tr>
        <td><p>Node Name</p></td>
        <td><p>{{ notif.json["node_name"] }}</p></td>
      </tr>

{% if notif.has_been_sent() -%}
      <tr>
        <td><p>Sending Method</p></td>
        <td><p>{{ notif.json["method"] }}</p></td>
      </tr>

      <tr>
        <td><p>Sending Provider</p></td>
        <td><p>{{ notif.json["provider"] }}</p></td>
      </tr>

      <tr>
        <td><p>Sending Provider's Notification ID</p></td>
        <td><p>{{ notif.json["provider_notif_id"] }}</p></td>
      </tr>
{%- endif %}

    </tbody>
  </table>

  <h4>Notification Body</h4><pre>{{ notif.body }}</pre>

{% if notif.json["warnings"] -%}
  <h4>Warnings</h4>
{% for warning in notif.json["warnings"] -%}
  <pre>{{ warning }}</pre>
{%- endfor %}
{%- endif %}

{% if notif.json["errors"] -%}
  <h4>Errors</h4>
{% for error in notif.json["errors"] -%}
  <pre>{{ error }}</pre>
{%- endfor %}
{%- endif %}

</div>

{% endblock %}

{% include "footer.html" %}
